.posts {
    margin-top: 15px;
    display: flex;
    flex-direction: column;
    gap: 30px;

    .post_item--noimg {
        width: 100%;

        .post_right {
            width: 100% !important;
        }
    }

    .post_item {
        width: 100%;
        display: flex;
        max-height: 315px;
        overflow: hidden;
        border-radius: 15px;

        .post_left {
            width: 35%;
            display: flex;
            justify-content: center;
            align-items: center;
            position: relative; 
            overflow: hidden; 
            border-radius: 15px 0 0 15px;

            img,
            video {
                position: absolute;
                top: 0;
                left: 0;
                width: 100% !important;
                height: 100% !important;
                object-fit: cover;
                object-position: center;
            }
        }

        .post_right {
            background-color: var(--white);
            width: 65%;
            display: flex;
            flex-direction: column;
            justify-content: space-between;
            padding: 1.5rem;
            gap: 16px;

            .post_text {
                flex: 1;
                display: flex;
                flex-direction: column;
                gap: 10px;

                h1 {
                    color: var(--accent);
                    font-size: 1.5rem;

                    &:hover {
                        text-decoration: underline;
                    }
                }

                p {
                    color: var(--text);
                    font-size: 1rem;
                }
            }

            .post_link {
                a {
                    display: flex;
                    align-items: center;
                    gap: 5px;
                    fill: var(--accent);
                    color: var(--accent);
                    font-weight: 600;
                }
            }
        }
    }
}

@media screen and (max-width: 930px) {
    .posts {
        .post_item {
            flex-direction: column;
            max-height: none;

            .post_left {
                width: 100%;
                height: 250px; // yoki kerakli balandlik
                border-radius: 15px 15px 0 0; // faqat yuqori qismda

                img, video {
                    border-radius: 15px 15px 0 0;
                }
            }

            .post_right {
                width: 100%;
                border-radius: 0 0 15px 15px;
            }
        }
    }
}