.main-section {
  margin-top: 50px;
  padding: 0 100px;
  display: flex;
  gap: 30px;

  .left {
    width: 70%;
  }

  .right {
    width: 30%;
    position: sticky;
    align-self: flex-start; 
    top: 20px;
  }
}
