.main-section {
  margin-top: 50px;
  padding: 0 100px;
  display: flex;
  gap: 30px;
  margin-bottom: 50px;

  .left {
    overflow: hidden;
    width: 70%;
  }

  .right {
    width: 30%;
    position: sticky;
    align-self: flex-start;
    top: 20px;
  }
}

@media screen and (max-width: 1441px) {
  .main-section {
    padding: 0 50px;
  }
}

@media screen and (max-width: 1350px) {
  .main-section {
    flex-direction: column;

    .left,
    .right {
      width: 100%;
    }

    .right {
      position: static;
      margin-top: 30px;
    }
  }
}

@media screen and (max-width: 751px) {
  .main-section {
    padding: 0 25px;
  }
}

@media screen and (max-width:768px) {
  .main-section {
    padding: 0 20px;
  }
}

.onload {
  p {
    width: 90%;
    height: 20px;
    background: var(--background);
    position: relative;
    overflow: hidden;
    border-radius: 5px;
    margin-bottom: 6px !important;

    &::after {
      content: "";
      position: absolute;
      top: 0;
      left: -50%;
      width: 50%;
      height: 100%;
      background: linear-gradient(90deg, transparent, rgba(255, 255, 255, 0.4), transparent);
      animation: shimmer 1.5s infinite;
    }
  }

  .h2 {
    width: 70%;
    height: 30px;
    background: var(--background);
    position: relative;
    overflow: hidden;
    border-radius: 10px;
    margin-bottom: 10px;

    &::after {
      content: "";
      position: absolute;
      top: 0;
      left: -50%;
      width: 50%;
      height: 100%;
      background: linear-gradient(90deg, transparent, rgba(255, 255, 255, 0.4), transparent);
      animation: shimmer 1.5s infinite;
    }
  }

  .title {
    width: 80%;
    height: 25px;
    background: var(--background);
    position: relative;
    overflow: hidden;
    border-radius: 10px;
    margin-bottom: 10px;

    &::after {
      content: "";
      position: absolute;
      top: 0;
      left: -50%;
      width: 50%;
      height: 100%;
      background: linear-gradient(90deg, transparent, rgba(255, 255, 255, 0.4), transparent);
      animation: shimmer 1.5s infinite;
    }
  }

  .img {
    width: 100%;
    height: 120px;
    background: var(--background);
    position: relative;
    overflow: hidden;
    border-radius: 10px;
    margin-bottom: 10px;

    &::after {
      content: "";
      position: absolute;
      top: 0;
      left: -50%;
      width: 50%;
      height: 100%;
      background: linear-gradient(90deg, transparent, rgba(255, 255, 255, 0.4), transparent);
      animation: shimmer 1.5s infinite;
    }
  }
  .p {
    width: 70%;
  }

  .telegram {
    display: flex;
    justify-content: center;
    flex-direction: column;
    align-items: center;

    .link {
      width: 60%;
      height: 40px;
      background: var(--background);
      position: relative;
      overflow: hidden;
      border-radius: 10px;
      margin-top: 10px;

      &::after {
        content: "";
        position: absolute;
        top: 0;
        left: -50%;
        width: 50%;
        height: 100%;
        background: linear-gradient(90deg, transparent, rgba(255, 255, 255, 0.4), transparent);
        animation: shimmer 1.5s infinite;
      }
    }
  }

  .randompost {
    .h2 {
      width: 50%;
    }
  }

}