.main-section {
  margin-top: 50px;
  padding: 0 100px;
  display: flex;
  gap: 30px;
  margin-bottom: 50px;
  
  .left {
    overflow: hidden;
    width: 70%;
  }

  .right {
    width: 30%;
    position: sticky;
    align-self: flex-start; 
    top: 20px;
  }
}

@media screen and (max-width: 1441px) {
  .main-section {
    padding: 0 50px;
  }
}

@media screen and (max-width: 1350px) {
  .main-section {
    flex-direction: column;
    
    .left, .right {
      width: 100%;
    }

    .right {
      position: static;
      margin-top: 30px;
    }
  }
}

@media screen and (max-width: 751px) {
    .main-section{
        padding: 0 25px;
    }
}