.tags {
    display: flex;
    gap: 5px;
    flex-wrap: wrap;

    .active{
        background-color: var(--accent);
        color: var(--background);
    }

    button {
        padding: 4px 12px;
        background-color: var(--white);
        border-radius: 50pc;
        text-align: center;
        color: var(--text);
        transition: 0.3s;
    }
}