.postloading {
    margin-top: 15px;
    display: flex;
    flex-direction: column;
    gap: 30px;

    .postloading-item {
        height: 250px;

        .post_left{
            border: 1px solid var(--white);
        }

        .img {
            width: 100%;
            height: 100%;

            &::after {
                content: '';
                position: absolute;
                top: 0;
                left: -50%;
                width: 50%;
                height: 100%;
                background: linear-gradient(90deg, transparent, rgba(255, 255, 255, 0.5), transparent);
                animation: shimmer 1.2s infinite;
            }
        }

        .h1 {
            width: 60%;
            height: 30px;
            border-radius: 8px;
            display: inline-block;
            position: relative;
            background: var(--background);
            overflow: hidden;

            &::after {
                content: '';
                position: absolute;
                top: 0;
                left: -50%;
                width: 50%;
                height: 100%;
                background: linear-gradient(90deg, transparent, rgba(255, 255, 255, 0.5), transparent);
                animation: shimmer 1.2s infinite;
            }

        }

        p{
            width: 100%;
            height: 20px;
            border-radius: 8px;
            display: inline-block;
            position: relative;
            background: var(--background);
            overflow: hidden;

            &::after {
                content: '';
                position: absolute;
                top: 0;
                left: -50%;
                width: 50%;
                height: 100%;
                background: linear-gradient(90deg, transparent, rgba(255, 255, 255, 0.5), transparent);
                animation: shimmer 1.2s infinite;
            }
            &:last-child {
                width: 80%;
            }
        }

        .link{
            width: 40%;
            height: 25px;
            border-radius: 8px;
            display: inline-block;
            position: relative;
            background: var(--background);
            overflow: hidden;

            &::after {
                content: '';
                position: absolute;
                top: 0;
                left: -50%;
                width: 50%;
                height: 100%;
                background: linear-gradient(90deg, transparent, rgba(255, 255, 255, 0.5), transparent);
                animation: shimmer 1.2s infinite;
            }
        }

        .text-loader {
            background: var(--background);
        }
    }
}