nav {
  height: 75px;
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 0 100px;
  background-color: var(--dark);
  position: relative;
  z-index: 100;

  .logo {
    display: flex;
    align-items: center;
    gap: 10px;
    height: 100%;

    img {
      width: 50px;
      height: 50px;
    }

    h1 {
      color: var(--accent);
      font-weight: 700;
    }
  }

  .links {
    display: flex;
    align-items: center;
    gap: 15px;
  }
  .burger-menu {
    display: none;
    align-items: center;
    color: var(--accent);
    font-size: 26px;
    cursor: pointer;
  }
}

.mobile-menu {
  position: fixed;
  top: 0;
  right: -70%;
  width: 70%;
  height: 100vh;
  background-color: var(--white);
  box-shadow: -2px 0 10px rgba(0, 0, 0, 0.2);
  transition: right 0.4s ease;
  z-index: 1000;
  display: flex;
  flex-direction: column;
  padding: 25px;

  &.open {
    right: 0;
  }

  .menu-header {
    display: flex;
    justify-content: space-between;
    align-items: center;

    .close {
      background: none;
      border: none;
      font-size: 28px;
      cursor: pointer;
      color: var(--text);
    }
  }

  ul {
    list-style: none;
    margin-top: 30px;
    display: flex;
    flex-direction: column;
    gap: 20px;

    a {
      text-decoration: none;
      font-size: 18px;
      color: var(--text);
      transition: 0.3s;

      &:hover {
        color: var(--accent);
      }
    }
  }

  .menu-footer {
    margin-top: auto;
    padding-top: 30px;
  }
}

.menu-overlay {
  position: fixed;
  inset: 0;
  background: rgba(0, 0, 0, 0.4);
  z-index: 999;
  animation: fadeIn 0.3s ease;
}

@keyframes fadeIn {
  from {
    opacity: 0;
  }
  to {
    opacity: 1;
  }
}

@media screen and (max-width: 1441px) {
  nav {
    padding: 0 50px;
  }
}

@media screen and (max-width: 1025px) {
  nav {
    .links {
      display: none;
    }

    .burger-menu {
      display: flex;
    }
  }
}

@media screen and (max-width:769px) {
    nav{
        padding: 0 20px;
        .logo{
            gap: 5px;
            img{
                width: 40px;
                height: 40px;
            }
            h1{
                font-size: 1.5rem;
            }
        }
    }
}