footer{
    display: flex;
    justify-content: center;
    background-color: var(--text);
    padding: 25px 0;
    p{
        color: var(--background);
    }
}

@media screen and (max-width: 426px) {
    footer{
        p{
            font-size: 0.8rem;
        }
    }
}